<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
</head>
<body>
<header>
    <section>
        <h1><a href="/"><img src="/images/logo.svg" alt="Polynote" /></a></h1>
        <nav>
            <ul>
                <li class="try-it"><a href="/try/">Try it!</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/docs/">Documentation</a></li>
                <li><a href="/contribute/">Contribute</a></li>
                <li><a href="/news/">News</a></li>
                <li><a href="https://github.com/polynote/polynote">Source</a></li>
            </ul>
        </nav>
    </section>
</header>